{% extends "base.html" %}


{% block button%}

            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Nosotros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/home">Ingresar</a>
                    </li>
                </ul>

{% endblock%}


